body {
    margin: 0;
    padding: 0;
}

.clamp-module {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.post-title {
    overflow: hidden;
    max-height: 1.2em;
}

/*.card:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/

nav {
     overflow: visible !important;
    z-index: auto;
    will-change: contents !important;
}

.scrollToTop{
	position:fixed;
	top:100px;
	right:40px;
	display:none;
}

.preloader {
     position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: visible;
}

.xpreloading {
        width: 800px;
    height: 5px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.xpretext {
    width: 800px;
    height: 5px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 10px;
}
.xprebutton {
    margin-left: 650px;
    margin-top: -300px;
}
.xprecontainer {
    margin-top: -360px;   
}
.xprecontainer2 {
    margin-top: -220px;
    margin-left: 220px;
}
.man {
    fill: #fff;
    width: 200px;
}
.preshadow {
    padding-bottom: 40px;   
}