<footer class="page-footer {{ site.css }} darken-2">
    <div class="container">
        <div class="row">
            
            <div class="col l3 m6 s12">
            <h5 class="white-text">Hokamp IT-Consulting</h5>
            <p class="grey-text text-lighten-4">Jörg Hokamp<br>Eidinghausener Str. 26<br>32549 Bad Oeynhausen</p>
            </div>
            
            <div class="col l3 m6 s12">
                <h5 class="white-text">Kontakt</h5>
                <p class="grey-text text-lighten-4">Fon 05731 / 60 69 0-0<br>Fax 05731 / 60 69 0-29<br>info@hokamp-it.de</p>
            </div>

                                               
            <div class="col l3 m6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-lighten-4"></p>
            </div>


        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015 Naveen Shaji
            <a class="grey-text text-lighten-4 right" href="http://pixelblenders.com/" target="_blank">PixelBlenders</a>
        </div>
    </div>
</footer>
