<header class="site-header">
    <div class="navbar-fixed">
        <nav class="{{ site.css }} darken-2">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo waves-effect"><i class="mdi-communication-chat"></i> naveenshaji</a>
                <ul id="nav-mobile" class="right side-nav">
                    <li><a href="/">Blog</a>
                    </li>
                    <li><a href="/">Projects</a> 
                    </li>
                    <li><a href="/">Social</a>
                    </li>
                    <li><a href="http://github.com/naveenshaji/" target="_blank">GitHub</a>
                    </li>
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
        </nav>
    </div>
</header>