<!DOCTYPE html>
<html>
{% include head.html %}

<body class="{{ site.css }} lighten-5">
    {% include header.html %}
    <a class="darken-2 scrollToTop btn-floating btn-large waves-effect waves-light {{ site.css }}"><i class="mdi-maps-navigation"></i></a>
    <div id="page-wrap">
        <div id="main-content">
            <div id="guts">
                <div class="container">
                    <div class="wrapper">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>